---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
<main class="px-6">

  <h1 class="text-4xl font-extrabold py-8 bg-gradient-to-br from-rosePine-pine via-rosePine-foam to-rosePine-iris inline-block text-transparent bg-clip-text">
    Hi, I'm happy to see there
  </h1> 

  
  <article class="flex flex-col">
    <p class="uppercase text-sm text-rosePine-pine font-bold pb-2">About Me:</p>

    <div class="flex flex-row items-center gap-4 mb-3">

      <img src="https://avatars.githubusercontent.com/u/18124391?v=4" class="w-14 h-14 rounded-full" />    
      
      <section class="flex flex-col">
        <h2 class="uppercase font-bold text-rosePine-pine"> Michał Maciejewski </h2>
        <div class="text-sm text-rosePine-muted">
          
          <p class="m-0 p-0 leading-tight"> Frontend Developer @<span class="text-orange-600 font-bold">ING</span></p>
          <p class="m-0 p-0 leading-tight"> Father of one, dog lover, tech geek, vue fan, developing things like this for fun</p>
        </div>
      </section>
      
    </div>
    
    <p class="text-rosePine-base leading-tight">This is a place where I store my frontendmentors challanges. If you wanna visit one of them place go take a look around </p>
  </article>

  
</main>
</Layout>
